@{
    ViewData["Title"] = "Index";
}
<div style="color:blueviolet;text-align:center;padding-top:100px;font-weight:bold;"><h2>Welcome To Group Chatting Apps</h2></div>
<h3 style="color:orchid;font-size:200%; text-align:center;">Md.Iquball Hossain</h3>
<h3 style="color:deepskyblue;font-size:150%; text-align:center;">Batch ID: CS/ACSL-M/52/01</h3>
<h3 style="color:mediumvioletred;font-size:120%; text-align:center;">ID:1270381</h3>